body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    min-height: 70vh;
}

footer {
    max-height: 52px;
    margin-top: auto;
}

.page-title, footer {
    background-color: #d90368;
}

.nav-link, .nav-link:active, .nav-link:visited {
    color: #c3025d;
    font-weight: bold;
}

.nav-link:hover {
    color: #880141;
}

#options {
    justify-content: end;
}

.navbar-toggler {
    color: #c3025d;
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

h1 {
    font-weight: 600;
}

.card-image {
    height: 142px;
    object-fit: cover;
}

.card-title {
    font-weight: 600;
}

.details-btn, .submit-btn {
    border: 1px solid #c3025d;
    color: #c3025d;
    font-weight: 600;
}

.details-btn:hover, .details-btn:active {
    background-color: #ad0253;
    color: white;
}

.badge {
    font-size: 14px;
    background: #c3025d;
    position: absolute;
    margin-left: 8px;
}

.form-control {
    border-radius: 20px;
}

fieldset {
    display: inline;
}

.form-fieldset {
    width: 600px;
    align-self: center;
    margin-bottom: 1rem;
}

.form-label {
    font-weight: 600;
    color: rgb(100, 100, 100);
    padding-left: 8px;
}

.submit-btn {
    width: 600px;
    align-self: center;
    border-radius: 20px;
    font-weight: 600;
}

.submit-btn:hover, .submit-btn:active {
    background-color: #c3025d;
    color: white;
}

table {
    border: 2px solid black;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    height: 1.25rem;
    padding: .25rem;
}

.no-results-message {
    font-size: 18px;
    font-weight: 500;
    color: rgb(100, 100, 100);
}

/* Responsive Styles */

@media (max-width: 768px) {
    .nav-item {
        font-size: 14px;
    }
    .form-fieldset, .submit-btn {
        width: 520px;
    }
}

@media (max-width: 576px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .form-fieldset, .submit-btn {
        width: 440px;
    }
    table {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .form-fieldset, .submit-btn {
        width: 400px;
    }
    table {
        font-size: 12px;
    }
}

@media (max-width: 440px) {
    .form-fieldset, .submit-btn {
        width: 360px;
    }
    table {
        font-size: 10px;
    }
}

@media (max-width: 400px) {
    .details-card-title {
        font-size: 18px;
    }
    .badge {
        font-size: 12px;
    }
    .form-fieldset, .submit-btn {
        width: 320px;
    }
    table {
        font-size: 9px;
    }
}

@media (max-width: 360px) {
    .form-fieldset, .submit-btn {
        width: 280px;
    }
}