body {
    min-height: 100vh;
}

main {
    min-height: 70vh;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 52px;
}

.page-title, footer {
    background-color: #d90368;
}

.nav-link, .nav-link:active, .nav-link:visited {
    color: #c3025d;
    font-weight: bold;
}

.nav-link:hover {
    color: #970248;
}

.card-img-top {
    height: 142px;
    object-fit: cover;
}

.details-btn, .details-btn:active, .submit-btn, .submit-btn:active {
    border: 1px solid #c3025d;
    color: #c3025d;
}

.details-btn:hover {
    background-color: #ad0253;
    color: white;
}

.form-control {
    border-radius: 20px;
}

fieldset {
    display: inline;
}

.form-fieldset {
    width: 600px;
    align-self: center;
    margin-bottom: 1rem;
}

.form-label {
    font-weight: 500;
    color: rgb(100, 100, 100);
    padding-left: 8px;
}

.submit-btn {
    width: 600px;
    align-self: center;
    border-radius: 20px;
    font-weight: 500;
}

.submit-btn:hover {
    background-color: #c3025d;
    color: white;
}

table {
    border: 2px solid black;
}

td {
    border-collapse: collapse;
    border: 1px solid black;
    height: 1.25rem;
    padding: .25rem;
}